<div class= "col-xs-10 col-xs-offset about">
  <h1>About Splurty</h1>
  <p>
    This Splurty application was built by Elson Mathew. Elson is a recent graduate of Emory University, and is currently working as an Emergency Medical Technician in North Fulton County, Ga. His passions are learning how to web develop and extending those skills to a broader development field.
  </p>
  <br />
  <div class= "col-xs-12 col-sm-4">
    <%= image_tag 'Ellson.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Elson Mathew</h2>
    <br />
    <p> 
    Elson studied Neuroscience and Behavioral Biology at Emory University and has held jobs in retail, technology, science, and public service. Elson is currently learning to be a fullstack Ruby on rails Developer. Elson's goal is to mix his passion for web development with his facinatsion for medicine. In the meantime, he hopes to publish a webdev and medicine blog 
    </p>
</div>

<br class= "clear" />
<br />
<br />
<br />
<br />