@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Dosis';

.clear {
  clear:both; 
}

.circle { 
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 3px solid #080606;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 8px;
    line-height: 20px;
    cursor: pointer;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
}

.slogan {
  
  font-size: 18px;
  padding-top: 26px;
  font-family: 'quicksanditalic';
  font-weight: bold;
}


.links {
  padding-top: 26px;
}

.links a {
  color: black;
  padding-left: 50px;
  text-align: right;
  font-size: 20px;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-style: italics;
}

.next-quote {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  color:#f84342;
  font-size: 20px
}

.footer-blurb {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-style: italics;
  text-align: right;
  font-size: 15px;
}

.footer {
  background-color: white;
}

.footer-blurb-not-enough {
  text-align: left;
  
}

.logo:hover{
  text-decoration: none;
}

.about {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}

.box {
  background-color: rgba(245,181,91,0.5);

}
 

h1 {
  font-family: 'quicksanditalic';
  font-weight: bold;
  font-style: 48px
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-style: italics; 
}

h3 span {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-sytle: italics;
  font-size: 20px;
  color:  #F56969;
}

h3 {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-sytle: italics;
  font-size: 26px;
}

hr {
    clear:both;
    border-color: #F03030;
    border-width: 9px;
    padding: 0px;
  }

::selection {
  background-color: #f84342;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

